@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as mixin;

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  text-align: center;

  .legal-footer-section,
  .company-footer-info,
  .company-footer-contact,
  .social-footer-menu,
  .legal-footer-menu,
  .menu-footer {
    width: 100%;
  }

  .social-icons {
    display: flex;
    justify-content: center;
    gap: 12px;
  }

  ul {
    list-style: none;
  }

  h2 {
    font-size: 1.5rem;
    line-height: 1.2;
    padding-bottom: 0.7rem;
  }

  h3 {
    font-size: 1.4rem;
    line-height: 1.3;
    padding-bottom: 0.5rem;
  }

  p {
    margin-bottom: 0;
  }

  h2:not(:first-of-type) {
    margin: 1rem 0 0 0;
  }

  address {
    font-style: normal !important;
  }

  .logo-container img {
    margin-top: 15px;
    border-radius: 50%;
  }

  .social-footer-menu h2 {
    margin-top: 15px;
  }

  @include mixin.respond-to('md') {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: left;
    align-items: start;

    .legal-footer-section,
    .company-footer-info,
    .company-footer-contact,
    .social-footer-menu,
    .legal-footer-menu,
    .menu-footer {
      width: 30%;
    }

    .social-icons {
      justify-content: flex-start;
    }
  }

  @include mixin.respond-to('lg') {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: left;
    align-items: start;

    .legal-footer-section,
    .company-footer-info,
    .company-footer-contact,
    .social-footer-menu,
    .legal-footer-menu,
    .menu-footer {
      width: 14%;
    }

    .social-icons {
      justify-content: flex-start;
    }
  }

  @include mixin.respond-to('xl') {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: left;
    align-items: start;

    .legal-footer-section,
    .company-footer-info,
    .company-footer-contact,
    .social-footer-menu,
    .legal-footer-menu,
    .menu-footer {
      width: 14%;
    }

    .social-icons {
      justify-content: flex-start;
    }
  }

  @include mixin.respond-to('xxl') {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: left;
    align-items: start;

    .legal-footer-section,
    .company-footer-info,
    .company-footer-contact,
    .social-footer-menu,
    .legal-footer-menu,
    .menu-footer {
      width: 14%;
    }

    .social-icons {
      justify-content: flex-start;
    }
    max-width: 1600px;
    margin: 0 auto;
    border-radius: 8px;
  }
}

footer p,
footer li {
  font-size: 1.2rem;
}

footer li:last-child {
  padding-bottom: 0.7rem;
}

.footer .menu a:hover {
  border-radius: 8px;
}

a[href^='mailto'] {
  word-break: break-word;
  overflow-wrap: break-word; // Gör att e-post kan brytas naturligt
  display: inline-block; // Säkerställer att länken bryts korrekt
}
