@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as mixin;

.app-wrapper {
  max-width: 600px;
  margin-inline: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f3f3f3;
}

.search-bar {
  display: flex;
  padding: 0.5rem 0;

  input {
    flex: 1;
    padding: 0.5rem;
    font-size: 1rem;
  }

  button {
    padding: 0.5rem 1rem;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

.source-toggle {
  padding: 2rem 0 0.3rem;
}

// @include mixin.respond-to('lg') {
//   max-width: 800px;
// }
