@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as mixin;

.tab-nav button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #333;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tab-nav button.active {
  background-color: #333; // Fylld cirkel
}
