@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as mixin;

.top-icon {
  position: relative;
  width: 88px;
  height: 88px;
  margin-right: 0.5rem;
  flex-shrink: 0;
  border-radius: 50%;
  object-fit: cover;
  z-index: 10;
}

.icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

h2 {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  .icon-heading {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    display: block;
  }
}
