@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as mixin;

.navbar {
  padding: 1rem;

  .page-wrapper {
    display: flex;
    align-items: center;
    max-width: 1600px;
    margin: 0 auto;
    width: 100%;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0;
  }

  .logo {
    display: flex;
    align-items: center;

    img {
      height: 70px;
      width: auto;
      border-radius: 50%;
      padding-right: 10px;
    }
  }

  .menu-toggle {
    display: flex;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
  }
}

// Hamburgermeny – Mobile-first
.nav {
  position: absolute;
  top: 110px;
  right: 0;
  width: 250px;
  border-radius: 8px;
  padding: 1rem;
  display: none;

  &.active {
    display: block;
  }

  .menu {
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;

    .menu-item {
      padding: 1rem;

      a {
        text-decoration: none;
        font-weight: 500;
        display: block;
      }
    }

    li.dropdown {
      padding: 1rem;
    }

    li.dropdown a {
      display: contents;
    }
  }
}

// Horisontell meny vid lg (1024px)
@include mixin.respond-to('lg') {
  .menu-toggle {
    display: none; // Döljer hamburgermenyn vid `lg`
  }

  .nav {
    position: static; // Ta bort `absolute`, låt menyn flöda naturligt
    width: auto;
    background: transparent;
    box-shadow: none;
    display: flex; // Gör menyn synlig som horisontell meny
    justify-content: center;
  }

  .menu {
    display: flex;
    flex-direction: row;
    padding: 0;
  }

  .footer .menu {
    display: block;
  }

  .menu-item {
    border-bottom: none;
    padding: 0;

    a {
      display: inline-block;
      text-decoration: none;
      padding: 5px 5px;
      border-radius: 8px;
    }
  }
  .nav {
    padding: 1rem;
  }
}

.footer {
  .menu-item {
    border-bottom: none;
    padding: 0;

    a {
      padding: 5px 0;
    }
  }
}

@include mixin.respond-to('xl') {
  .navbar.header {
    align-items: center;
  }
}

@include mixin.respond-to('xxl') {
  .navbar.header {
    align-items: center;
  }
}
