@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as mixin;

.tab-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: flex-end; // flex-end eller space-between
  // align-items: center;
  padding: 0.75rem 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  gap: 0.5rem;
}
