@use '../abstracts/variables' as *;

@mixin icon-hover($theme: vars.$light-theme, $scale: 1.1) {
  &:hover {
    background-color: map-get($theme, 'accent') !important;
    transform: scale($scale);
  }
}

// Grund mixin ikon
@mixin icon-base($size: $icon-size, $shape: $icon-shape) {
  width: $size;
  height: $size;
  /* height: auto; */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  /* margin: 5px; */
  transition: all 0.3s ease-in-out;
  background-color: transparent;

  // Standardform
  @if $shape == 'circle' {
    border-radius: 50%;
  } @else if $shape == 'square' {
    border-radius: 8px !important;
  }
}

// Mixin helvit ikon
@mixin icon-white($theme: vars.$light-theme, $size: 36px) {
  @include icon-base($size);
  background-color: map-get($theme, 'primary');

  img {
    filter: brightness(0) invert(1); // Gör ikonen vit
  }

  @include icon-hover($theme);
}

// Mixin svartvit ikon
@mixin icon-bw($theme: vars.$light-theme, $size: 36px) {
  @include icon-base($size);
  background-color: map-get($theme, 'primary') !important;

  img {
    filter: grayscale(100%);
  }

  @include icon-hover($theme);
}

// Flexbox centrering
@mixin flex-center {
  display: flex;
  align-items: center;
}

@mixin respond-to($breakpoint) {
  // Hämtar värdet för den angivna breakpointen
  $breakpoint-value: map-get($breakpoints, $breakpoint);

  // Om ett värde hittas, använd det i en media query
  @if $breakpoint-value {
    @media (min-width: $breakpoint-value) {
      @content;
    }
  } @else {
    // Om ingen matchning hittas, ge en varning
    @warn "Breakpoint `#{$breakpoint}` finns inte definierat i \$breakpoints.";
  }
}
