@use 'sass:color'; // Importera Sass färgfunktioner

// Typografi
// Om Google Fonts laddas ska följade fontfamiljer användas
$font-poppins: 'Poppins', 'Helvetica', 'Arial', sans-serif;
$font-inter: 'Inter', 'Roboto', sans-serif;

// Som generell fontstack används
$font-stack: $font-poppins;

/* $header-height: 100px; */

$sizes: (
  'icon': 32px,
  'linkedin-width': 38px,
  'linkedin-height': 32px,
  'header-height': 120px
);

$icon-shape: 'circle'; // Standardform
$icon-header-height: map-get($sizes, 'header-height');
$icon-size: map-get($sizes, 'icon');

.icon {
  width: map-get($sizes, 'icon') !important;
  height: map-get($sizes, 'icon') !important;
}

.linkedin.icon {
  width: map-get($sizes, 'linkedin-icon') !important;
}

// Breakpoints
$breakpoints: (
  'xs': 360px,
  // Små mobiler (extra liten) Små mobiler som iPhone SE och vissa Android-enheter
  'sm': 480px,
  // Standard mobiler Mer standardstorlek för mobiler
  'md': 768px,
  // Tablets
  'lg': 1024px,
  // Små laptops & större surfplattor
  'xl': 1280px,
  // Standard desktop
  'xxl': 1600px // Maxbredd – större skärmar centreras
);

$light-theme: (
  'white': #ffffff,
  'gray-200': rgb(225, 220, 223),
  'bg': #f9fafb,
  // Bakgrundsfärg
  'text': #1f2937,
  // Standardtext
  /* 'primary': #1f6fc7, */ 'primary': #0060c7,
  // Primärfärg (t.ex. knappar, länkar)
  'secondary': #26fadc,
  // Sekundärfärg (t.ex. highlights)
  'accent': #f59e0b,
  // Accentfärg (t.ex. hover-effekter, CTA)
  'error': #dc2626,
  // Felmeddelanden
  // Header & Footer
  'header-bg': #f3f4f6,
  'header-text': #1f2937,
  'footer-bg': #e5e7eb,
  'footer-text': #223146,
  'link-color': #1f6fc7,
  'link-hover-color': #f86700,
  'link-active-color': rgb(0, 0, 0),
  'link-active-hover-color': #4afd6e,
  'focus-color': #ff0000,
  'focus-color-bkg': #eddde7
);

// Teman
$dark-theme: (
  'bg': #121212,
  // Bakgrundsfärg
  'text': #e5e7eb,
  // Standardtext
  'primary': #1f6fc7,
  // Primärfärg (t.ex. knappar, länkar)
  'secondary': #426683,
  // Sekundärfärg (t.ex. highlights)
  'accent': #4ec4d1,
  // Accentfärg (t.ex. hover-effekter, CTA)
  'error': #ed8b8b,
  // Felmeddelanden
  // Header & Footer
  'header-bg': #1f2937,
  // Header och Footer bkg
  'header-text': #e5e7eb,
  'footer-bg': #000000,
  'section-bg': #212e40,
  // Header och Footer bkg
  'footer-text': #e5e7eb,
  'link-color': #8ad0ff,
  'link-hover-color': #94eff9,
  'link-active-color': white,
  'link-active-hover-color': white,
  'focus-color': #ff0000
);

// Colors used for my color function cards
$base-color: #3498db; // Blue
$saturated: saturate($base-color, 30%);
$desaturated: desaturate($base-color, 30%);
$hue-adjusted: adjust-hue($base-color, 45deg);
$rgba-color: rgba($base-color, 0.5);
$mixed-color: mix($base-color, #ff5733, 50%);
$inverted-color: invert($base-color);

// Standard transitions
/* $default-transition: background-color 0.3s ease, color 0.3s ease;
 */
$icon-transition: background-color 0.3s ease, transform 0.3s ease;
$button-transition: background-color 0.3s ease, color 0.3s ease,
  border 0.3s ease;

// Standard animationer
$fade-duration: 0.5s;
$fade-animation: fade-in $fade-duration forwards;

$text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);

$box-shadow-light: 10px 5px 20px rgba(0, 0, 0, 0.4);
$box-shadow-dark: 10px 5px 20px rgba(0, 0, 0, 0.9);
