@use 'sass:color'; // Importera Sass färgfunktioner

// Typografi
// Om Google Fonts laddas ska följade fontfamiljer användas
$font-poppins: 'Poppins', 'Helvetica', 'Arial', sans-serif;
$font-inter: 'Inter', 'Roboto', sans-serif;

// Som generell fontstack används
$font-stack: $font-poppins;
